[Unit]
Description=Discord
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/autostart-tagged discord

[Install]
WantedBy=graphical-session.target
