[Unit]
Description=Snapchat
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/gtk-launch Snapchat.desktop

[Install]
WantedBy=graphical-session.target