[Unit]
Description=Terminal
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xdg-terminal-exec

[Install]
WantedBy=graphical-session.target