[Unit]
Description=Run update-dotfiles.service on a schedule

[Timer]
OnCalendar=*:0/1
Persistent=true
AccuracySec=30s
RandomizedDelaySec=5s

[Install]
WantedBy=timers.target