[user]
  email = rutger.pronk11@gmail.com
  name = Rutger Pronk

[alias]
  s = status
  d = diff

  a = add

  c = commit
  p = push

  u = pull

  sw = switch

[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	autocrlf = input
